.scrollListWrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;

    .scaleContainer {
        transform-origin: 0 0;
        margin: auto;
        height: 100%;

        .scrollListViewer {
            height: 100%;
            text-align: center;

            .imgBox {
                min-width: 150px;
                min-height: 150px;
                font-size: 0;

                img,
                video {
                    vertical-align: baseline;
                    z-index: 2;
                }
            }
        }
    }
}
