.scrollListWrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;

    .scaleContainer {
        margin: auto;
        height: 100%;

        .scrollListViewer {
            display: flex;

            img {
                z-index: 2;
            }
        }
    }
}
