.treeRootWrapper {
    height: 100%;
    width: 100%;
}

.treeRoot {
    padding: 8px 8px 50px 8px;
    width: 100%;

    .nodeRoot {
        user-select: none;

        .nodeRootTitleWrapper {
            display: flex;
            align-items: center;
            padding: 2px 4px;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            .icon {
                padding-right: 8px;
            }

            .nodeRootTitle {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
                padding-bottom: 1px;
            }
        }
        .nodeRootTitleWrapper:hover {
            background-color: rgba(255, 255, 255, 0.7);
            color: $fontColorHover;
            transition: 0s;
        }

        .nodeRootTitleWrapper.selected {
            background-color: #fff;
            color: $fontColorActive;
            transition: 0s;
        }

        .nodeRootChildren {
            padding-left: 28px;
        }
    }

    .nodeLeaf {
        display: flex;
        align-items: center;

        .icon {
            padding-right: 8px;
        }
    }

    .nodeLeaf:hover {
        background-color: rgb(34, 165, 241);
    }
}
