.toolsBarWrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $borderColor;

    .top,
    .button {
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $svgColor;
        }

        .item.isActive {
            color: $svgActiveColor;
        }

        .item:hover {
            color: $svgActiveColor;
        }
    }
}
