.infoWrapper {
    height: 100%;
    width: 100%;
    border-top: 1px solid $borderColor;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    user-select: none;

    .left {
        color: #fff;
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        .text {
            
            margin-right: 12px;
            color: #fff;
        }
    }
}
