$themeColor1: #e6f7ff;
$themeColor2: #bae7ff;
$themeColor3: #91d5ff;
$themeColor4: #69c0ff;
$themeColor5: #40a9ff;
$themeColor6: #1890ff;
$themeColor7: #096dd9;
$themeColor8: #0050b3;
$themeColor9: #003a8c;
$themeColor10: #002766;

// container
$borderColor: rgb(221, 221, 221);
$fontColor: rgb(255, 255, 255);
$fontColorHover: rgba(255, 0, 200, 0.5);
$fontColorActive: rgb(255, 0, 200);

// svg
$svgColor: rgb(223, 223, 223);
$svgActiveColor: rgb(255, 0, 200);

// scroll track
// $scrollThumbColor: rgba(116, 116, 117, 0.9);
// $scrollTrackColor: rgba(116, 116, 117, 0);
$scrollThumbColor: rgba(233, 233, 233, 1);
$scrollTrackColor: rgba(116, 116, 117, 0);

// tab
// $tabBgColorHover: rgba(0, 0, 0, 0.25);
// $tabBgColorActive: rgba(0, 0, 0, 0.40);
$tabBgColorHover: rgba(255, 255, 255, 0.4);
$tabBgColorActive: rgba(255, 255, 255, 1);

// setting
$titleFontColor: rgb(204, 204, 204);
$h2FontColor: rgb(204, 204, 204);
$borderSettingColor: rgb(204, 204, 204);
$selectOptionBgColor: rgb(64, 64, 64);
$selectOptionBgColorHover: rgb(32, 32, 32);

// tag
$tagFontColor: rgb(255, 255, 255);
$tagBorderColor: rgb(255, 255, 255);
$tagBgColor: rgba(255, 255, 255, 0);
$tagFontColorHover: rgb(255, 0, 200);
$tagBorderColorHover: rgb(204, 204, 204);
$tagBgColorHover: rgba(204, 204, 204, 1);
$tagFontColorActive: rgb(255, 0, 200);
$tagBorderColorActive: rgb(255, 255, 255);
$tagBgColorActive: rgba(255, 255, 255, 1);

