$themeColor1: #e6f7ff;
$themeColor2:#bae7ff;
$themeColor3:#91d5ff;
$themeColor4:#69c0ff;
$themeColor5:#40a9ff;
$themeColor6:#1890ff;
$themeColor7: #096dd9;
$themeColor8: #0050b3;
$themeColor9: #003a8c;
$themeColor10: #002766;