$themeColor1: #f9f0ff;
$themeColor2: #efdbff;
$themeColor3: #d3adf7;
$themeColor4: #b37feb;
$themeColor5:#9254de;
$themeColor6: #722ed1;
$themeColor7: #531dab;
$themeColor8: #391085;
$themeColor9: #22075e;
$themeColor10: #120338;