.tag {
    padding: 1px 14px;
    border-radius: 4px;
    margin: 5px 12px 5px 0;
    display: inline-block;
    color: $tagFontColor;
    background-color: $tagBgColor;
    border: 2px solid $tagBorderColor;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    user-select: none;

    .closeButton {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.tag:hover {
    color: $tagFontColorHover;
    background-color: $tagBgColorHover;
    border: 2px solid $tagBorderColorHover;
    transition: 0s;

    .closeButton {
        opacity: 1;
    }
}

.tag.active {
    color: $tagFontColorActive;
    background-color: $tagBgColorActive;
    border: 2px solid $tagBorderColorActive;
}
