.manageBar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .scrollWrapper {
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: scroll;
        position: absolute;

        .info {
            color: $titleFontColor;
            margin: 36px auto;
            width: 60%;
            min-width: 800px;
            padding: 0 100px;
        }

        .group {
            z-index: 10;
            margin: 36px auto;
            width: 60%;
            min-width: 800px;
            padding: 0 100px;
            h2 {
                color: $titleFontColor;
                font-weight: bold;
            }

            .item {
                color: $h2FontColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $borderSettingColor;
                padding: 8px 0;
                transition: 0.1s ease-in-out;
                font-weight: bold;

                h3 {
                    font-size: 14px;
                    margin: 0;
                }
                .selectorButton {
                    height: 40px;
                    padding: 0 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                .selectorButton:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                }

                .selectorButton:active {
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }

            .item:hover {
                color: #fff;
                transition: 0;
            }
        }
    }

    .loadingModal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        font-size: 18px;
        color: $fontColor;

        .loadingText {
            margin-left: 9px;
        }
    }
}

.manageBar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.8);
    filter: blur(32px);
    background: inherit;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
