.layout {
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

    .body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex: 1;
        z-index: 2;

        .left {
            display: flex;

            .toolsBar {
                height: 100%;
            }

            .gridFileBar {
                height: 100%;
                border-right: 1px solid #ddd;
            }
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 0;
            height: 100%;
            user-select: none;

            .gridMainView {
                flex: 1;
                height: 100%;
                // background-color: rgb(30, 30, 30);
            }

            .gridManageBar {
                width: 100%;
                // background-color: rgb(30, 30, 30);
                border-top: 1px solid $borderColor;
            }
        }
    }

    .footer {
        z-index: 1;
    }
}

.layout.blur {
    filter: blur(8px);
}

.layout::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    filter: blur(48px);
    background: inherit;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transform: scale(1.3);
}

:global {
    .useBlurBg {
        position: relative;
        display: flex;
        overflow: hidden;
    }

    .useBlurBg::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: scale(1.8);
        filter: blur(32px);
        background: inherit;
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    .useBlurBg > * {
        z-index: 1;
    }

    .ant-btn-primary.theme {
        color: #fff;
        background-color: #1890ff00;
        border: 2px solid #fff;
    }

    .ant-btn-primary.theme:focus {
        color: #fff;
        background-color: #1890ff00;
        border: 2px solid #fff;
    }

    .ant-btn-primary.theme.active,
    .ant-btn-primary.theme:hover {
        transition: 0s;
        color: $fontColorActive;
        background-color: #fff;
        border: 2px solid #1890ff00;
    }

    .no-scrollbar {
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
        }
    }

    .mini-scrollbar {
        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background: $scrollThumbColor;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
            background: $scrollTrackColor;
        }
    }

    .small-scrollbar {
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: $scrollThumbColor;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
            background: $scrollTrackColor;
        }
    }

    .medium-scrollbar {
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background: $scrollThumbColor;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
            background: $scrollTrackColor;
        }
    }

    .large-scrollbar {
        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background: $scrollThumbColor;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
            background: $scrollTrackColor;
        }
    }

    .text-ellipsis-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        padding-bottom: 1px;
    }

    .text-ellipsis-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        padding-bottom: 1px;
    }
}
